<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.alex.moov">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".androidapp.MooVApplication"
      android:allowBackup="true"
      android:fullBackupContent="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="64dabca0ee01cbc088ba1dcf7f39b8d3c773fcc6"/>

    <activity
        android:name=".androidapp.home.HomeActivity"
        android:label="@string/title_activity_home"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>